{
  "development": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "server_port": 3000,
    "server_name": "http://127.0.0.1"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "server_port": 3000,
    "server_name": "http://127.0.0.1"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "server_port": 80,
    "server_name": "http://127.0.0.1"
  }
}
